// Greys
$grey						: #636363;

$light-grey			: lighten($grey, 5%);
$light-grey-10  : lighten($grey, 10%);
$light-grey-20  : lighten($grey, 20%);
$light-grey-30  : lighten($grey, 30%);
$light-grey-40  : lighten($grey, 40%);
$light-grey-50  : lighten($grey, 50%);

$dark-grey			: lighten($grey, 10%);
$dark-grey-10   : darken($grey, 10%);
$dark-grey-20   : darken($grey, 20%);

// Aliases
$largeDesktop   : "only screen and (min-width: 981px)";
$desktop        : "only screen and (min-width: 769px)";
$tablet         : "only screen and (min-width: 481px)"; 

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// html
html {
  font-family: 'Open Sans', sans-serif, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

p, li, span {
  line-height: 1.56em;
  font-family: 'Open Sans', sans-serif, 'Helvetica Neue', Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Nanum Pen Script';
  line-height: 1em;

  margin-bottom: 15px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

a {
  color: black;

  &.link:hover {
    color: white;
    background: black;

    text-decoration: none;
  }
}

// Buttons
.button {
	font-size: 16px;
	background: white;
	
	border-radius: 3px;
	border: 1px solid $grey;

	padding: .75em 1.25em;

	cursor: pointer;

	color: $dark-grey-20;

	&:hover {
		background: black;
		color: white;
	}

	&:focus {
		outline: 0;
	}
}